passages/msmarco.tsv
random_sentences/splits/msmarco_train.txt
model_scores_and_judgements/llama_3.1_8b_judge.qrel_scores.dbpedia-entity.tsv
model_scores_and_judgements/llama_3.1_8b_judge.qrel_scores.nfcorpus.tsv
model_scores_and_judgements/llama_3.1_8b_judge.qrel_scores.trec-covid.tsv
model_scores_and_judgements/run.bge-large-retriever.climate-fever.txt
model_scores_and_judgements/run.bge-large-retriever.dbpedia-entity.txt
model_scores_and_judgements/run.bge-large-retriever.fiqa.txt
model_scores_and_judgements/run.bge-large-retriever.nfcorpus.txt
model_scores_and_judgements/run.bge-base-retriever.climate-fever.txt
model_scores_and_judgements/run.bge-base-retriever.dbpedia-entity.txt
model_scores_and_judgements/run.bge-base-retriever.fiqa.txt
model_scores_and_judgements/run.bge-base-retriever.nfcorpus.txt
model_scores_and_judgements/run.e5-unsupervised-retriever.climate-fever.txt
model_scores_and_judgements/run.e5-unsupervised-retriever.dbpedia-entity.txt
model_scores_and_judgements/run.e5-unsupervised-retriever.fiqa.txt
model_scores_and_judgements/run.e5-unsupervised-retriever.nfcorpus.txt
model_scores_and_judgements/run.snowflake-base-retriever.climate-fever.txt
model_scores_and_judgements/run.snowflake-base-retriever.dbpedia-entity.txt
model_scores_and_judgements/run.snowflake-base-retriever.fiqa.txt
model_scores_and_judgements/run.snowflake-base-retriever.nfcorpus.txt
model_scores_and_judgements/run.adversarial-random-1.1-retriever.climate-fever.txt
model_scores_and_judgements/run.adversarial-random-1.1-retriever.dbpedia-entity.txt
model_scores_and_judgements/run.adversarial-random-1.1-retriever.fiqa.txt
model_scores_and_judgements/run.adversarial-random-1.1-retriever.nfcorpus.txt
model_scores_and_judgements/run.adversarial-plain-retriever.climate-fever.txt
model_scores_and_judgements/run.adversarial-targeted-1.0-retriever.climate-fever.txt
model_scores_and_judgements/run.adversarial-targeted-1.0-retriever.dbpedia-entity.txt
model_scores_and_judgements/run.adversarial-targeted-1.0-retriever.fiqa.txt
model_scores_and_judgements/run.adversarial-targeted-1.0-retriever.nfcorpus.txt
model_scores_and_judgements/run.adversarial-plain-retriever.dbpedia-entity.txt
model_scores_and_judgements/run.adversarial-plain-retriever.fiqa.txt
model_scores_and_judgements/run.adversarial-plain-retriever.nfcorpus.txt
model_scores_and_judgements/run.adversarial-random-1.0-retriever.climate-fever.txt
model_scores_and_judgements/run.adversarial-random-1.0-retriever.dbpedia-entity.txt
model_scores_and_judgements/run.adversarial-random-1.0-retriever.fiqa.txt
model_scores_and_judgements/run.adversarial-random-1.0-retriever.nfcorpus.txt
model_scores_and_judgements/run.e5-supervised-retriever.climate-fever.txt
model_scores_and_judgements/run.e5-supervised-retriever.dbpedia-entity.txt
model_scores_and_judgements/run.e5-supervised-retriever.fiqa.txt
model_scores_and_judgements/run.e5-supervised-retriever.nfcorpus.txt
passages/msmarco_100k.tsv
passages/msmarco.tsv
random_sentences/splits/msmarco_train.txt
random_sentences/splits/msmarco_test.txt
random_sentences/splits/msmarco_dev.txt
